/* Main Container */
.container { 
	display: grid;
    grid-template-columns: 280px 1fr 80px;
	grid-template-areas: "sideleft main";
}

/* side Left */
.side-left {
	position: sticky;
	top: 8rem;
	grid-area: sideleft;
	overflow-y: auto;
	height: calc(100vh - 8.2rem);
	display: flex;
	flex-direction: column;
	padding: 2 5rem;
	color:#fff;
	
	
}
.side-filter {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.filter-heading {
	margin: var(--m8) 0;
	font-size: 3 rem;
	font-weight: 300;
	
}
.price-range {
	display: flex;
	justify-content: space-between;
}
input[type="range"] {
	width: 100%;
	cursor: pointer;
}
.side-list li {
	list-style: none;
	margin: var(--m4) 0;
	font-size: 2rem;
	margin-left: 1.5rem;
}
input[type="radio"],
input[type="checkbox"] {
	width: 3rem;
	height: 3rem;
	cursor: pointer;
}

/* Main  */
.main {
	grid-area: main;
	width: 100%;

	
}
.Product-category-name {
	font-size: 3.4rem;
	margin: 2.3rem 1rem;
		color:#fff;
}

.products {
	display: grid;
	gap: 8rem;
	grid-template-rows: repeat(auto-fit, 44rem);
    grid-template-columns: repeat(auto-fit, 30rem);
}
.card-button-ecom:hover {
	background-color: var(--secondary-color);
}

@media screen and (max-width: 780px) {
	.container {
		grid-template-columns: 1fr;
		grid-template-areas: "main";
	}
	.side-left {
		display: none;
	}
}
